html {
    font-family: sans-serif;
    background: #4cb0f3;
}

.boxes {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item :last-child {
    border-bottom: 0;
}

input:checked + label {
    background: #dfdede;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
}

label {
    margin: 0;
    padding: 20px;
    flex: 1;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #D1E2FF;
}
